name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential zip unzip openjdk-17-jdk zlib1g-dev libffi-dev libssl-dev wget

    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install buildozer cython

    - name: Build APK
      run: |
        # Elimina cualquier SDK viejo de Buildozer
        rm -rf .buildozer/android
        # Compila el APK, Buildozer instalará SDK y NDK automáticamente
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
